.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  width: 20%;
  flex-direction: column;

  button {
    color: black;
    height: 2rem;
    border: 2px solid black;
    margin-bottom: 0.8rem;
  }

  .increment {
    background-color: lightgreen;
  }
  
  .decrement {
    background-color: lightcoral;
  }
  
  .reset {
    background-color: dodgerblue;
  }
}

.counter {
  font-family: monospace;
  font-size: 5rem;
}