<section class="content">
  <h1 class="counter">{{ currentValue | async }}</h1>
  <div class="buttons">
    <button class="increment" (click)="onIncrementClick()">Increase Counter</button>
    <button class="decrement" (click)="onDecrementClick()">Decrease Counter</button>
    <button class="reset" (click)="onResetClick()">Reset Counter</button>
  </div>
</section>
