<h1>{{ title }}</h1>
<h2>Click the buttons below</h2>

<button routerLink='/'>Home</button>
<button routerLink='/counter'>Counter</button>
<button routerLink='/comments'>Comments List</button>

<router-outlet></router-outlet>
