<section class="comments-list">
  <h2>Comments</h2>
  <label for="post-selector">Get comments for post number:</label>
  <input type="number" name="post-selector" [(ngModel)]="postId">
  <button (click)="onSubmitClick()">Submit</button>
</section>

